<!-- Start of Friends Section-->
<div class="table-wrapper col-sm-6 border">
    <div class="row table-title">
        <div class="col-sm-8">
            <h2>Group Name</h2>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-10">
            <label for="name" class="col-lg-5">Your Friend Name:</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="friend" id="name">
            </div>
        </div>
        <div class="col-sm-2">
            <a href="#" class="btn btn-info">Add</a>
        </div>
    </div>
    <!--Start of All Cards -->
    <div class="card-columns text-center">
       <% @users.each do |user| %>
        <div class="card" style="width:150px">

            <img class="card-img-top" src="https://via.placeholder.com/100x100" alt="Friend Image">
            <div class="card-body">
                <h4 class="card-title h6"><%= user.email %></h4>
                <p class="card-text">
                <%# <%= link_to 'Remove', user, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %> %>
                <%= link_to "Remove", remove_group_path(@group,user.id),method: :delete,data: { confirm: 'Are you sure?' } %>
                <%# <%= request.params["id"]%> %>
                

                        
                <%# <a href="#" class="btn btn-danger">Remove</a> %>
                
                
                </p>
            </div>
        </div>
        <% end %>

        <!--End of one Card-->
    </div>
    <!--End of All Cards-->

</div> <!-- End of Friends Section-->
