<p id="notice"><%= notice %></p>
<div class="wrap">
<div class="container">
    <h1>Groups</h1>
    <div class="justify-content-between">
        <%= render "groups/new", locals: { group: @group } %>
    </div>
    <div class="row">
        <!-- Start of Group Section-->
        <%= render 'groups' , locals: { groups: @groups }%>
        <!-- End of Group Section-->

        <!-- Start of Friends Section-->
        <%= render 'friends' %>
        <!-- End of Friends Section-->
    </div>
</div>
</div>