<% flash.each do |key, value| %>
  <div class="alert"><%= value %></div>
<% end %>
<div class="wrap">
    <div class="container">
    
        <h1>Groups</h1>
        <div class="justify-content-between">
            <%= render "groups/new", locals: { group: @group } %>
        </div>
        <div class="row">
            <%= render 'groups' , locals: { groups: @groups }%>
            <%= render 'friends' %>
        </div>
    </div>
</div>
