 <div class="wrap">
    <div class="container">
    <%= link_to "Back to my Groups", groups_path,class:"btn btn-danger" %>
        <h1>Groups</h1>
        <div class="justify-content-between">
            <%= render "groups/new", locals: { group: @group } %>
        </div>
        <div class="row">
            <%= render 'groups' , locals: { groups: @groups }%>
            <%= render 'friends', locals: { users: @users } %>
        </div>
    </div>
</div>




 