<div class="row">
    <div class="col-sm-12 col-md-6">
        <fieldset>
            <legend>Latest Orders</legend>
            <% if @my_orders %>
                <% @my_orders.each do |order| %>
                    <h2> <%= order.order_for %> on <%= order.created_at %> </h2>
                <% end %>
            <% else %>
                <h2> no orders yet </h2>
            <% end %>
        </fieldset>
    </div>
    <div class="col-sm-12 col-md-6">
        <fieldset>
            <legend>Friends Activity</legend>
            <% if @activities %>
                <% @activities.each do |friend,activity| %>
                    <% activity.each do |friend_activity| %>
                     <p> <%= friend.name %> has created <%= friend_activity.action %> </p>
                    <% end %>
                <% end %>
            <% else %>
                <h2> No Friends Activity</h2>
            <% end %>
        </fieldset>
    </div>
</div>