    <table class="table table-hover table-dark">
 <% @user_all.each  do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
            <td>oo</td>
            <td>oo</td>
      </tr>
      <script>
    $('<input>').attr({
    type: 'hidden',
    id: 'foo',
    name: 'userid[]',
    value: '<%=user.id%>'
}).appendTo('form');
      </script>
    <% end %>
    </table>